name: Call Dataflow Setup Workflow
on:
  pull_request:
    branches:
      - "dev"
      - "qa"
      - "prod"
    paths:
      - 'dataflow/**/**/**'

jobs:
  call_dataflow_workflow:
    name: Call Dataflow Reusable Workflow
    uses: HCACloudDataEngineering/gcp-hin-workflows/.github/workflows/dataflow_setup_workflow.yaml@main
    with:
      branch: ${{ github.base_ref }}
      dataflow_path: dataflow
      repo_type: "ETL"
