name: Invoke Cloud Function

on:
  workflow_call:
    inputs:
      cf_region:
        description: "Cloud Function Region"
        required: false
        type: string
      cf_project_id:
        description: "Cloud Function Project ID"
        required: false
        type: string
      cf_name:
        description: "Cloud Function Name"
        required: false
        type: string
      cf_trigger_file_path:
        description: "Path to Cloud Function trigger configuration files"
        required: false
        type: string

    secrets:
      workload_identity_provider:
        description: "The workload identity provider for authentication."
        required: false
      service_account:
        description: "The service account for authentication."
        required: false

jobs:
  invoke-cloud-function:
    name: Invoke Cloud Function
    runs-on: [self-hosted, onprem-k8s-arc, dind, enterprise, lnx-amd64]
    environment: ${{ github.ref_name }}
    permissions:
      contents: "read"
      id-token: "write"
    steps:
      - name: Invoke CF Composite Action
        uses: HCACloudDataEngineering/gcp-hin-workflows/cloud-function/invoker@main
        with:
          workload_identity_provider: ${{ vars.WORKLOAD_IDENTITY_PROVIDER != '' && vars.WORKLOAD_IDENTITY_PROVIDER || secrets.workload_identity_provider }}
          service_account: ${{ vars.SERVICEACCOUNT_GITHUB != '' && vars.SERVICEACCOUNT_GITHUB || secrets.service_account }}
          cf_region: ${{ inputs.cf_region }}
          cf_project_id: ${{ inputs.cf_project_id }}
          cf_name: ${{ inputs.cf_name }}
          # cf_trigger_file_path: ${{ inputs.cf_trigger_file_path }}