SELECT COUNT(*) > 0
FROM
{{ params.param_parallon_ra_base_views_dataset_name }}.folder_audit
WHERE 
(folder_file_count IS NULL OR table_file_count IS NULL
OR folder_file_count <> table_file_count)
AND ssc_name = '{{ operational_group }}'