name: GCS CD

inputs:
  bucketname: 
    description: ""
  workload_identity_provider:
    description: ""
  service_account:
    description: ""
  branch:
    description: ""
  args:
    description: ""
    default: ""
  path:
    description: ""
  repository:
    description: ""


runs:
  using: "composite"
  steps:
    - name: setup google cloud sdk
      shell: bash
      run: |
        echo " gcloud auth with ${{ inputs.service_account }}  ${{ inputs.workload_identity_provider }}"

    - name: "Authenticate to Google Cloud"
      id: "auth"
      uses: "google-github-actions/auth@v0.8.3"
      with:
        workload_identity_provider: ${{ inputs.workload_identity_provider }}
        service_account: ${{ inputs.service_account }}
    
    - name: Download Artifacts
      uses: actions/download-artifact@v3
      with:
        name: gcs_artifacts
        path: artifacts

    - name: Artifacts List
      shell: bash
      run: |
        ls -alh artifacts

    - name: Upload Changed GCS Files
      uses: "google-github-actions/upload-cloud-storage@v1"
      with:
        path: "artifacts/gcs"
        destination: "${{ inputs.bucketname }}/${{ inputs.path }}"            
        parent: false 
        glob: "**/*"


  
  
    