name: Composer DAG Sync
on:
  push:
    branches:
      - "dev"
      - "qa"
      - "prd"
    paths:
      - 'environments/**'
      - 'dags/**'
      - '.github/workflows/composer.yaml'
       
    # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:
    
jobs:
  call_composer_workflow:
    name: Call Composer Reusable Workflow
    uses: HCACloudDataEngineering/gcp-hin-nonclinical-parent/.github/workflows/composer_workflow.yaml@main
    with:
      branch: ${{ github.ref_name }}
      config_filepath: dags/edwcr/config
      dags_subdomain_folder_path: /edwcr
      two_way_sync: "" 
      # If 2-way sync is desired in the future, replace "" above with --delete-unmatched-destination-objects
      # For more information on gcloud storage rsync and associated commands/flags: https://cloud.google.com/sdk/gcloud/reference/storage/rsync
    secrets: 
      workload_identity_provider: ${{secrets[format('WORKLOAD_IDENTITY_PROVIDER_{0}', github.ref_name)] }}
      service_account: ${{ secrets[format('SERVICEACCOUNT_GITHUB_{0}', github.ref_name)] }} 