ingest:
- source_system: hcaps
  frequency: weekly
  start_date: pendulum.datetime(2022, 12, 6, 2, 0, 0, tz=timezone)
  schedule: ["0 2 * * 4"]
  type: files
  sftp_files:
  - directory: /Outbox_HCA09/HCA Deliverables/
    files:
      - name: ^.*_Weekly_HCA(PatientResponses|_OASCAHPSPatientResponses)\.txt$
      - name: ^.*_Weekly_(ResponseLabels|HCA_OASCAHPSResponseLabels)\.txt$
      - name: ^.*_Weekly_HCA(QuestionMaster|_OASCAHPSQuestionMaster)\.txt$
  dependency:
  - source:
      type: file
      name: ^.*_Weekly_HCA(PatientResponses|_OASCAHPSPatientResponses)\.txt$
      merge: HCAPatientResponses.txt
      escape_char: None
      sensor: 'Yes'
    target:
      type: table
      name: hca_pat_resp_all
      truncate_table: truncate
      sql: update_timestamp.sql
    sensor:
    - dag_id: dag_integrate_hcaps_core_tables_quarterly_01.30
      task_id: TG-table-bi_psat_question_level_score_smry.audit_table_bi_psat_question_level_score_smry
      schedule: [30 1 16 2-12/3 *] 
      active: '20230101'
    - dag_id: dag_integrate_hcaps_core_tables_quarterly_02.00
      task_id: TG-table-bi_psat_question_level_score_smry.audit_table_bi_psat_question_level_score_smry
      schedule: ["0 2 6 3 *","0 2 4 6 *","0 2 3 9 *","0 2 4 12 *"] 
      active: '20230903' 
  - source:
      type: file
      name: ^.*_Weekly_HCA(QuestionMaster|_OASCAHPSQuestionMaster)\.txt$
      merge: HCAQuestionMaster.txt
      delimiter: "|"
      sensor: 'Yes'
    target:
      type: table
      name: hca_quest_mstr
      sql: hcaps_hca_quest_mstr.sql
    sensor:
    - dag_id: dag_integrate_hcaps_core_tables_quarterly_01.30
      task_id: TG-table-bi_psat_question_level_score_smry.audit_table_bi_psat_question_level_score_smry
      schedule: [30 1 16 2-12/3 *] 
      active: '20230101'
    - dag_id: dag_integrate_hcaps_core_tables_quarterly_02.00
      task_id: TG-table-bi_psat_question_level_score_smry.audit_table_bi_psat_question_level_score_smry
      schedule: ["0 2 6 3 *","0 2 4 6 *","0 2 3 9 *","0 2 4 12 *"]
      active: '20230903'
  - source:
      type: file
      name: ^.*_Weekly_(ResponseLabels|HCA_OASCAHPSResponseLabels)\.txt$
      merge: ResponseLabels.txt
      delimiter: "|"
      sensor: 'Yes'
    target:
      type: table
      name: hdw_resp_lbl
      sql: hcaps_hdw_resp_lbl.sql
    sensor:
    - dag_id: dag_integrate_hcaps_core_tables_quarterly_01.30
      task_id: TG-table-bi_psat_question_level_score_smry.audit_table_bi_psat_question_level_score_smry
      schedule: [30 1 16 2-12/3 *]
      active: '20230101'
    - dag_id: dag_integrate_hcaps_core_tables_quarterly_02.00
      task_id: TG-table-bi_psat_question_level_score_smry.audit_table_bi_psat_question_level_score_smry
      schedule: ["0 2 6 3 *","0 2 4 6 *","0 2 3 9 *","0 2 4 12 *"] 
      active: '20231204'

- source_system: hcaps
  frequency: quarterly
  start_date: pendulum.datetime(2021, 12, 6, 2, 0, 0, tz=timezone)
  schedule: ["0 2 6 3 *","0 2 4 6 *","0 2 3 9 *","0 2 4 12 *"]
  type: files
  sftp_files:
  - directory: /Outbox_HCA09/HCA Deliverables/
    files:
      - name: ^.*_Quarterly_HCA_OASCAHPSPatientResponses\.txt$
      - name: ^.*_Quarterly_HCA_OASCAHPSResponseLabels\.txt$
      - name: ^.*_Quarterly_HCA_OASCAHPSQuestionMaster\.txt$
  dependency:
  - source:
      type: file
      name: ^.*_Quarterly_HCA_OASCAHPSPatientResponses\.txt$
    target:
      type: table
      name: hca_pat_resp_all
      truncate_table: truncate
      sql: update_timestamp.sql   
  - source:
      type: file
      name: ^.*_Quarterly_HCA_OASCAHPSQuestionMaster\.txt$
      delimiter: "|"
    target:
      type: table
      name: hca_quest_mstr
      sql: hcaps_hca_quest_mstr.sql
  - source:
      type: file
      name: ^.*_Quarterly_HCA_OASCAHPSResponseLabels\.txt$
      delimiter: "|"
    target:
      type: table
      name: hdw_resp_lbl
      sql: hcaps_hdw_resp_lbl.sql


- source_system: hcaps
  frequency: quarterly
  start_date: pendulum.datetime(2021, 12, 6, 2, 0, 0, tz=timezone)
  schedule: [30 1 16 2-12/3 *]
  type: files
  sftp_files:
  - directory: /Outbox_HCA09/HCA Deliverables/
    files:
      - name: ^.*_Quarterly_HCAPatientResponses\.txt$
      - name: ^.*_Quarterly_ResponseLabels\.txt$
      - name: ^.*_Quarterly_HCAQuestionMaster\.txt$
  dependency:
  - source:
      type: file
      name: ^.*_Quarterly_HCAPatientResponses\.txt$
    target:
      type: table
      name: hca_pat_resp_all
      sql: update_timestamp.sql 
  - source:
      type: file
      name: ^.*_Quarterly_HCAQuestionMaster\.txt$
      delimiter: "|"
    target:
      type: table
      name: hca_quest_mstr
      sql: hcaps_hca_quest_mstr.sql
  - source:
      type: file
      name: ^.*_Quarterly_ResponseLabels\.txt$
      delimiter: "|"
    target:
      type: table
      name: hdw_resp_lbl
      sql: hcaps_hdw_resp_lbl.sql

- source_system: hcaps
  frequency: quarterly
  start_date: pendulum.datetime(2021, 12, 6, 2, 0, 0, tz=timezone)
  schedule: [0 1 1 */3 *]
  type: files
  sftp_files:
  - directory: /Outbox_HCA09/HCA Deliverables/
    files:
      - name: ^.{4}Q. - Domain Data for CMS Completes only_BY CCN\.TXT$
      - name: ^.*Q.-.{4}Q. - Domain Data for CMS Completes only_BY CCN\.TXT$
  dependency:
  - source:
      type: file
      name: ^.*/.{4}Q. - Domain Data for CMS Completes only_BY CCN\.TXT$
    target:
      type: table
      name: domn_data_cms_ccn
      sql: update_timestamp.sql 
  - source:
      type: file
      name: ^.*Q.-.{4}Q. - Domain Data for CMS Completes only_BY CCN\.TXT$
    target:
      type: table
      name: domn_data_cms_rfq
      sql: update_timestamp.sql 
  
- source_system: hcaps
  frequency: None
  start_date: pendulum.datetime(2022, 12, 6, 2, 0, 0, tz=timezone)
  schedule: [None]
  type: files
  sftp_files: None
  dependency:
  - source:
      type: file
      name: Ref_Phone_Mode_Adj.csv
      delimiter: ","
    target:
      type: table
      name: ref_phone_mode_adjustment
      sql: hcaps_update_bq_ref_phone_mode_adj.sql
  - source:
      type: file
      name: Patient_Satisfaction_Benchmark.txt
      delimiter: "|"
    target:
      type: table
      name: patient_satisfaction_benchmark_eoq
      sql: dummy.sql
  - source:
      type: file
      name: Patient_Satisfaction_Domain_Question_Xwalk.txt
      delimiter: "|"
    target:
      type: table
      name: ref_pat_sat_que_dom_xwalk_stg
      sql: update_bq_table_hca_ref_pat_sat_que_dom_xwalk_stg.sql
  - source:
      type: file
      name: Patient_Satisfaction_Question_Legacy_Survey_Xwalk.txt
      delimiter: "|"
    target:
      type: table
      name: question_legacy_survey_xwalk_stg
      sql: hcaps_question_legacy_survey_xwalk_stg.sql
  - source:
      type: file
      name: HCAFacilityList.txt
      delimiter: "|"
    target:
      type: table
      name: gallup
      sql: update_timestamp.sql 
      
- source_system: hcaps
  frequency: weekly
  start_date: pendulum.datetime(2023, 7, 6, 6, 0, 0, tz=timezone)
  schedule: ["0 6 * * 5"]
  type: files
  sftp_files:
  - directory: /Outbox_118630000009/pgo/
    files:
      - name: WRO_[0-9|Q|q]+_[0-9]+\.csv$
  dependency:
  - source:
      type: file
      delimiter: ","
      name: WRO_[0-9|Q|q]+_[0-9]+\.csv$
    target:
      type: table
      name: bi_psat_weekly_rank_report
      truncate_table: truncate
      sql: hcaps_update_bi_psat_weekly_rank_report_stg.sql