v_sourcesysnm: remits
v_databasetype: sqlserver
v_database: AdmitToRemit
v_port: 1433
v_secret_name: revapp_claims_remits_sql/versions/latest
v_jdbc_class_name: com.microsoft.sqlserver.jdbc.SQLServerDriver
v_jdbc_jar: mssql-jdbc-12.4.0.jre8.jar
v_jdkfile: jre-8u351-linux-x64.tar.gz
v_jdkversion: jre1.8.0_351
v_jdbcbqpytemplate: BigQuery_to_Remits_PythonTemplate.py
v_machine_type: n1-standard-4

remits_batching_sql: Select fmr.check_num,cast (fmr.remit_entered_dt as string) as remit_entered_dt,fpr.patient_remit_sid,fpr.patient_acct_num, fpr.unit_num, fpr.iplan,fpr.remit_claim_status_cd as claim_status_cd, fpr.payer_claim_ctrll_num,fpr.remit_file_path as file_path,fpr.remit_file_name as file_name,fpr.dw_last_update_date_time as processed_date, rp.npi, rp.tax_id,'v_currtimestamp' as dw_last_update_date_time
      From edwrmt.fact_patient_remit fpr Inner Join edwrmt.fact_master_remit fmr on fpr.remit_id=fmr.remit_id Inner Join edwrmt.lu_remit_provider rp on fpr.remit_provider_id = rp.remit_provider_id  Where where_condition~truncate~10000

remits:
  - schedule_interval: None
    start_date: pendulum.datetime(2024, 9, 1, tz=timezone)
    frequency: None
    dag_name_suffix: remits_batch
    done_file: NONE
    has_sensor: 'No'
    sql: [remits_batching_sql]
    tgttablename: [Remits_Batching]
    trigger_dag_ids: ['dag_postprocesspolling_remits_sqlserver_adhoc_remits_batch']
